@page "/"
@inject IInventoryServices service

<PageTitle>Home</PageTitle>
<h1><Icon Name="IconName.Alarm" Size="IconSize.x1" /> Documentos de Conteo Fisico</h1>

<div class="container-fluid">
    <div class="row">
            @if(orders == null) 
            {
                <div class="d-flex justify-content-center align-items-center vh-100 position-fixed top-0 start-0 w-100">
                        <Spinner Size="SpinnerSize.Large" /> <strong style="margin-left:10px;"> Cargando datos...</strong>
                </div>             
            }
            else 
            {
                <!--menu del grid-->
                <div class="row">
                    <!--Boton de crear documentos-->
                    <div class="col-3">
                        <div><strong>Crear Conteo Fisico:</strong></div>
                        <button class="btn btn-primary" @onclick="CreateDocument"><Icon Name="IconName.Activity" /> Crear Documento</button>
                    </div>
                    <!--combo de item poir pagina del quickgrid-->
                    <div class="col-3">
                        <div>
                            <strong>Items per page:</strong>
                            <select @bind="@pagination.ItemsPerPage" class="form-select">
                                <option>5</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>50</option>
                            </select>
                        </div>
                    </div>
                    <!--Buscador-->
                    <div class="col-3">
                        <strong>buscar por filtro:</strong>
                        <div class="d-flex">
                            <input type="text" class="form-control me-2" placeholder="Buscar..." @bind="searchText" />
                            <Button class="btn btn-primary" @onclick="buscar"><Icon Name="IconName.Search" /></Button>
                        </div>
                    </div>
                    <!--ultima columna del layout-->
                    <div class="col-3">
                   
                    </div>
                </div>
                    <QuickGrid Items="filteredOrders.AsQueryable()" ItemsPerPage="@pageSize" style="margin-top:10px;" class="table table-bordered" Pagination="@pagination">
                        <PropertyColumn Property="@(p => p.renglon)" Title="Rg." />
                        <TemplateColumn Title="Documento" Align="Align.Center">
                            <a href="#" style="color:black;text-decoration:none;font-weight:bold;"><Icon Name="IconName.FileEarmark" /> @context.OrderNumberID</a>
                        </TemplateColumn>


                        <TemplateColumn Title="Fecha" Sortable="true" Align="Align.Center">
                            <div>
                                <Icon Name="IconName.CalendarDate" />
                                @context.Order_Date.ToShortDateString()
                            </div>
                        </TemplateColumn>


                        
                        <PropertyColumn Property="@(p => p.Description_Document)" Title="Descripción" Sortable="true" />
                        
                        <TemplateColumn Title="Persona Registro">
                            <div>
                                <Icon Name="IconName.PersonBadge" />
                                @context.Person_Create
                            </div>
                        </TemplateColumn>
                            
                        
                        <TemplateColumn Title="Estado">
                            <Badge Color="@(context.Status == "OPEN" ? BadgeColor.Success : BadgeColor.Danger)"
                                   VisuallyHiddenText="Estado de la orden">
                                @context.Status
                            </Badge>
                        </TemplateColumn>
                        <PropertyColumn Property="@(p => p.Items)" Title="Items" />
                        <PropertyColumn Property="@(p => p.EquiposConteo)" Title="Equipos" />
                        <PropertyColumn Property="@(p => p.Sincro_Document)" Title="Sincro" />
                        <!--Columna personalizada de acciones-->
                        <TemplateColumn Title="Actions">
                            <Tooltip Title="Editar Documento" Placement="TooltipPlacement.Top">
                                <a href="#"><Icon Name="IconName.PencilFill" Size="IconSize.x5" Color="IconColor.Dark" /></a>
                            </Tooltip>
                            <Tooltip Title="Cerrar Documento" Placement="TooltipPlacement.Top">
                                <a href="#"><Icon Name="IconName.FileEarmarkLockFill" Size="IconSize.x5" Color="IconColor.Dark" /></a>
                            </Tooltip>
                            <Tooltip Title="Imprimir Reporte" Placement="TooltipPlacement.Top">
                                <a href="#"><Icon Name="IconName.PrinterFill" Size="IconSize.x5" Color="IconColor.Dark" /></a>
                            </Tooltip>
                            <Tooltip Title="Anular Documento" Placement="TooltipPlacement.Top">
                                <a href="#"><Icon Name="IconName.XCircleFill" Size="IconSize.x5" Color="IconColor.Dark" /></a>
                            </Tooltip>
                            <Tooltip Title="Sincronizar data con Server" Placement="TooltipPlacement.Top">
                                <a href="#"><Icon Name="IconName.DatabaseFillDown" Size="IconSize.x5" Color="IconColor.Dark" /></a>
                            </Tooltip>
                        </TemplateColumn>
                    </QuickGrid>
                    <Paginator State="@pagination" />
            }          
    </div>
</div>  


@code
{
    private string searchText = string.Empty;
    private int pageSize = 15;
    private static List<OrderFisicoHeader>? orders;
    private IEnumerable<OrderFisicoHeader> filteredOrders = new List<OrderFisicoHeader>();
    PaginationState pagination = new PaginationState { ItemsPerPage = 15 };

    protected override async Task OnInitializedAsync()
    {
        await LoadOrders();
    }

    private async Task LoadOrders()
    {
        try
        {
            orders = await service.GetOrders();
            filteredOrders = orders;
        }
        catch (Exception)
        {
            throw;
        }
        finally
        {
        }
    }

    private void EditOrder(string orderId)
    {
        // Lógica para editar el documento
    }
    private void DeleteOrder(string orderId)
    {
        // Lógica para editar el documento
    }
    private void PrintOrder(string orderId)
    {
        // Lógica para editar el documento
    }

    private void buscar()
    {
        // Lógica para buscar documentos
        if (orders == null) return;

        filteredOrders = orders.Where(o => 
            o.OrderNumberID.Contains(searchText, StringComparison.OrdinalIgnoreCase) ||
            o.Order_Date.ToShortDateString().Contains(searchText) ||
            o.Description_Document.Contains(searchText, StringComparison.OrdinalIgnoreCase) ||
            o.Person_Create.Contains(searchText, StringComparison.OrdinalIgnoreCase));

        pageSize = filteredOrders.Count();
        pagination.ItemsPerPage = pageSize;

        if (searchText == string.Empty) pagination.ItemsPerPage = 15;
    }

    private void CreateDocument()
    {
        // Lógica para crear un nuevo documento.
    }
}