@page "/"
@inject IInventoryServices service

<PageTitle>Home</PageTitle>
<h1>Documentos de Conteo Fisico</h1>



<div class="container-fluid">
    <div class="row">
        @if (orders == null)
        {
            <p><em>Cargando...</em></p>
        }
        else
        { 
            <div class="row">
                <div class="col-3">
                    <div>Crear Conteo Fisico:</div>
                    <button class="btn btn-primary" @onclick="CreateDocument">Crear Documento</button>
                </div>

                <div class="col-3">
                    <div>
                        Items per page:
                        <select @bind="@pagination.ItemsPerPage" class="form-select">
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                            <option>25</option>
                            <option>50</option>
                        </select>
                    </div>
                </div>
                <!--Buscador-->
                <div class="col-3">
                    buscar por filtro:
                    <div class="d-flex">
                        <input type="text" class="form-control me-2" placeholder="Buscar..." @bind="searchText" />
                        <button class="btn btn-primary" @onclick="buscar">Buscar</button>
                    </div>
                </div>

                <div class="col-3">
                    test
                </div>

            </div>
            <QuickGrid Items="filteredOrders.AsQueryable()" ItemsPerPage="@pageSize" style="margin-top:10px;" class="table table-bordered" Pagination="@pagination">
                <PropertyColumn Property="@(p=> p.renglon )" Title="Rg." />
                <PropertyColumn Property="@(p => p.OrderNumberID)" Title="Documento" Sortable="true" />
                <PropertyColumn Property="@(p => p.Order_Date.ToShortDateString())" Title="Fecha" Sortable="true" />
                <PropertyColumn Property="@(p => p.Description_Document)" Title="Descripción" Sortable="true" />
                <PropertyColumn Property="@(p => p.Person_Create)" Title="Persona Registro" Sortable="true" />
                <PropertyColumn Property="@(p => p.Status)" Title="Status" />
                <PropertyColumn Property="@(p => p.Items)" Title="Items" />
                <PropertyColumn Property="@(p => p.EquiposConteo)" Title="Equipos" />
                <PropertyColumn Property="@(p => p.Sincro_Document)" Title="Sincro" />
                <!--Columna personalizada de acciones-->
                <TemplateColumn Title="Actions" >
                    <button class="btn btn-primary btn-sm" @onclick="() => EditOrder(context.OrderNumberID)">Editar</button>
                    <button class="btn btn-danger btn-sm" @onclick="() => DeleteOrder(context.OrderNumberID)">Eliminar</button>
                    <button class="btn btn-secondary btn-sm" @onclick="() => PrintOrder(context.OrderNumberID)">Imprimir</button>
                </TemplateColumn>
            </QuickGrid>
            <Paginator State="@pagination" />
        }
        
    </div>
</div>    

@code
{
    private string searchText = string.Empty;
    private int pageSize = 15;
    private static List<OrderFisicoHeader>? orders;
    private IEnumerable<OrderFisicoHeader> filteredOrders = new List<OrderFisicoHeader>();
    PaginationState pagination = new PaginationState { ItemsPerPage = 15 };

    [CascadingParameter]
    IModalService ModalService { get; set; } = default!;



    protected override async Task OnInitializedAsync()
    {
        orders = await service.GetOrders();
        filteredOrders = orders;
    }

    private void EditOrder(string orderId)
    {
        // Lógica para editar el documento
    }
    private void DeleteOrder(string orderId)
    {
        // Lógica para editar el documento
    }
    private void PrintOrder(string orderId)
    {
        // Lógica para editar el documento
    }

    private void buscar()
    {
        // Lógica para buscar documentos
        if (orders == null) return;

        filteredOrders = orders.Where(o => 
            o.OrderNumberID.Contains(searchText, StringComparison.OrdinalIgnoreCase) ||
            o.Order_Date.ToShortDateString().Contains(searchText) ||
            o.Description_Document.Contains(searchText, StringComparison.OrdinalIgnoreCase) ||
            o.Person_Create.Contains(searchText, StringComparison.OrdinalIgnoreCase));

        pageSize = filteredOrders.Count();
        pagination.ItemsPerPage = pageSize;

        if (searchText == string.Empty) pagination.ItemsPerPage = 15;
    }

    private void CreateDocument()
    {
        // Lógica para crear un nuevo documento.

        var options = new ModalOptions()
        {
            Size = ModalSize.ExtraLarge
        };

        var message = "Ventana Modal para crear Nuevos documentos";
        ModalService.Show<TestModal>(message, options);
    }
}